/* Find Your New Bestie */

position: absolute;
width: 525px;
height: 209px;
left: 188px;
top: 139px;

font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 700;
font-size: 100px;
line-height: 97.3%;
/* or 97px */

color: #FFFFFF;

border: 1px solid #000000;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

/* The most amazing list of adoptable pets at your fingertips. Updated fresh daily. */

position: absolute;
width: 435px;
height: 209px;
left: 188px;
top: 359px;

font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 169.3%;
/* or 34px */

color: #FFFFFF;

/* Group 3 */

position: absolute;
width: 255px;
height: 322px;
left: 188px;
top: 635px;
/* Rectangle 4 */

box-sizing: border-box;

position: absolute;
width: 255px;
height: 322px;
left: 188px;
top: 635px;

border: 1px solid rgba(255, 255, 255, 0.24);


/* Sunny Play */

position: absolute;
width: 119px;
height: 23px;
left: 213px;
top: 760px;

font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 97.3%;
/* or 23px */

color: #FFFFFF;


/* Our center is located in beautiful Miami, and it’s currently 84°F at our pet playground. */

position: absolute;
width: 208px;
height: 161px;
left: 213px;
top: 790px;

font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 151.8%;
/* or 26px */

color: #FFFFFF;



/* Ellipse 1 */

position: absolute;
width: 617px;
height: 617px;
left: 1028px;
top: 62px;

background: #D660FF;
filter: blur(150px);

/* Ellipse 2 */

position: absolute;
width: 617px;
height: 617px;
left: 67px;
top: -360px;

background: #6079FF;
filter: blur(150px);

/* Meet Our Friends */

position: absolute;
width: 937px;
height: 116px;
left: 188px;
top: 1239px;

font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 700;
font-size: 85px;
line-height: 97.3%;
/* or 83px */

color: #000000;

/* Show me: All Pets Only Dogs Only Cats */

position: absolute;
width: 705px;
height: 50px;
left: 188px;
top: 1341px;

font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 28px;

color: #9F9F9F;

/* © 2023 Fake Adoption Center. All rights reserved. */

position: absolute;
width: 284px;
height: 14px;
left: calc(50% - 284px/2);
top: 1978px;

font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 97.3%;
/* identical to box height, or 14px */
text-align: center;

color: #A6A6A6;


/* Rectangle 5 */

box-sizing: border-box;

position: absolute;
left: 0%;
right: 1.9%;
top: 0%;
bottom: 0%;

background: #FFFFFF;
border: 1px solid #F3F3F3;
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.08);
border-radius: 20px;


/* Intersect */

position: absolute;
left: 0%;
right: 68.57%;
top: 0%;
bottom: 0%;

background: #D9D9D9;

/* Barksalot */

width: 107px;
height: 25px;

font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 600;
font-size: 26px;
line-height: 97.3%;
/* or 25px */

color: #000000;

/* Barksalot is a sweet and lovable 3 year old ball of fluff. He loves carrots, celery, and playing fetch. */

position: absolute;
left: 36.95%;
right: 6.48%;
top: 31.63%;
bottom: 49.49%;

font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* or 24px */

color: #626262;

/* 3 years old */

position: absolute;
left: 36.95%;
right: 6.48%;
top: 77.55%;
bottom: 3.57%;

font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 13.6px;
line-height: 150%;
/* or 20px */

color: #A2A2A2;